<h1> Well hello there</h1>
<h2> My name is <b style ="background-color:black;color:dodgerblue">Upasana.</b></h2>

<div style="background-color:black; color:white; padding:10px">
<p> I would like to tell something about myself </p>
<p> I was born in Hardwar and have lived in Chd, Jaipur and Delhi since then </p>
<p> I'm 20 years old and currently learning the Django Framework. </p>
<p> I have a weird attraction for <span style="background-color:seagreen; color:powderblue; font-family:verdana"> water fountains. </span>


</div>


<br>
<br>
<a href="{% url "home" %}"> home </a>